layout {
	default_tab_template {
		// the default zellij tab-bar and status bar plugins
		pane size=1 borderless=true {
			plugin location="zellij:tab-bar"
		}
		children
		pane size=1 borderless=true {
			plugin location="zellij:status-bar"
		}
	}

	tab name="btop" {
		pane command="btop"
	}

	tab name="mwp" {
		pane split_direction="vertical" {
			pane {
				cwd "~/dev/magic-web-portal"
				command "~/.nvm/versions/node/v22.19.0/bin/npm"
				args "run" "test:unit"
				name "unit tests"
			}
			pane {
				cwd "~/dev/magic-web-portal"
				name "component tests"
			}
			pane {
				cwd "~/dev/magic-web-portal"
				command "nr"
				args "dev"
				name "server"
			}
		}
		pane split_direction="horizontal" {
			pane {
				command "/opt/nvim-linux-x86_64/bin/nvim"
				cwd "~/dev/magic-web-portal"
				focus true
				name "nvim"
			}
			pane {
				cwd "~/dev/magic-web-portal"
				command "lazygit"
				name "lazygit"
			}
		}
	}
}
