mouse_mode false
on_force_close "quit"
pane_frames false
show_startup_tips false
simplified_ui true
theme "ansi"
ui {
	pane_frames {
        hide_session_name true
		rounded_corners true
	}
}

keybinds {
    locked {
    }
    
    normal {
    }

    resize {
    }

    pane {
    }

    move {
    }

    tab {
        bind "Alt i" { MoveTab "Left"; }
        bind "Alt o" { MoveTab "Right"; }
    }

    scroll {
    }

    search {
    }

    entersearch {
    }

    renametab {
    }

    renamepane {
    }

    session {
    }

    tmux {
    }

    shared_except "locked" {
    }

    shared_except "pane" "locked" {
    }

    shared_except "resize" "locked" {
    }

    shared_except "scroll" "locked" {
    }

    shared_except "session" "locked" {
    }

    shared_except "tab" "locked" {
    }

    shared_except "move" "locked" {
    }

    shared_except "tmux" "locked" {
    }

    shared_except "session" "locked" {
    }
}

